<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon"
              href="{{ asset('images/logo.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        {% block stylesheets %}
            {% include 'blocks/stylesheets.html.twig' %}
        {% endblock %}

    </head>

    <body>

        <div class="wrapper">

            {% include 'layout/sidebar.html.twig' %}

            {% include 'layout/navbar.html.twig' %}

            {% block body %}
                {#pages content goes here...#}
            {% endblock %}

        </div>

        {% block javascripts %}
            {% include 'blocks/javascripts.html.twig' %}
        {% endblock %}

    </body>
</html>